<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<style>
    body {
    background-color: #24415d;
  }


h1 {
    font-family: Palatino, URW Palladio L;
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    margin-top: 100px;
    font-size: 40px;
    font-family: American Typewriter;
    
}
.chat {
    text-align: center;

}

ul {
    margin-top: 50px;
    margin-left: 540px;
    font-size: 20px;
}
li {
    margin-top: 10px;
    color: white;
}
</style>
<body>
    <h1>Bienvenu sur MyIRC</h1>
    <a href="/chat" style="text-decoration:none"><h2 class="chat">Accéder au Chat</h2></a>
    <nav>
        <ul>
            <li>Chatter en toute sécurité.</li>
            <li>Communication 100% sécurisée et cryptée.</li>
            <li>Parler avec qui vous voulez à travers le monde.</li>
            <li>Parler en privé ou créer un groupe. </li>
        </ul>
    </nav>
    
</body>
</html> 
