:root {
    --onyx: hsl(0, 0%, 25%);
    --azure: hsl(219, 77%, 60%);
    --white: hsl(0, 0%, 91%);
    --platinum: hsl(0, 0%, 91%);
    --gainsboro: hsl(0, 0%, 90%);
    --red-salsa: hsl(0, 77%, 60%);
    --dim-gray: hsl(0, 0%, 39%);
    --davys-gray: hsl(0, 0%, 30%);
    --spanish-gray: hsl(0, 0%, 62%);
    --quick-silver: hsl(0, 0%, 64%);

    --fs-28: 28px;
    --fs-24: 24px;
    --fs-15: 15px;
    --fs-14: 14px;

    --fw-5: 500;
    --fs-6: 600;
    --px: 20px; /* Assurez-vous que --px est défini */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Source Sans 3', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

svg, span { display: inline-block;}

label, img { display: block;}

input{
    font: inherit;
    width: 100%;
    border: none;
}

input:focus { outline: 2px solid var(--azure); }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); } 

.container {
    max-width: 1440px;
    min-height: 1000vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: var(--fs-28);
    font-weight: var(--fw-6);
    color: var(--onyx);
    border-bottom: 1px solid var(--gainsboro);
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading svg { font-size: 40px; }

.item-flex {
    display: flex;
    flex-grow: 1;
}

.checkout {
    width: 70%;
    padding: 40px var(--px);
    /* background: var(--white); */
    border-right: 1px solid var(--gainsboro);
}

.section-heading {
    color: var(--onyx);
    margin-bottom: 30px;
    font-size: var(--fs-24);
    font-weight: var(--fw-5);
}

.payment-method {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.payment-method .method {
    border: 1px solid var(--quick-silver);
    border-radius: var(--radius);
    width: 50%;
    display: flex;
    padding: 15px 30px;
    gap: 20px;
    cursor: pointer;
}

.payment-method .selected { border-color: var(--azure); }

.payment-card-option .method svg { font-size: 20px;}

.payment-card-option .method .checkmark {
    margin-left: auto;
    color: var(--quick-silver);
}

.payment-card-option .method .path { color: var(--azure); }

.label-default {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: var(--fs-14);
    color: var(--spanish-gray);
}

.input-default {
    background: var(--platinum);
    border-radius: var(--radius);
    color: var(--davys-gray);
    width: 100%; /* Ajout de la largeur à 100% pour s'assurer que l'input occupe toute la largeur */
}

.payment-form input {
    padding: 10px 10px ;
    font-size: var(--fs-18);
    font-weight: var(--fw-5);
}

.cardholder-name,
.card-number { 
    margin-bottom: 20px;
    display: block;
}

.card-number input,
.cvv input { letter-spacing: 3px;}

.input-flex .expire-date,
.input-flex .cvv { width: 50%; }

.expire-date .input-flex {
    color: var(--spanish-gray);
    gap: 13px;
}

.expire-date .input-flex input { text-align: center }

.btn { border-radius: var(--radius); }

.btn:active { transform: 0.99;}

.btn:focus {
    color: var(--white);
    background: var(--azure);
    outline: 2px solid var(--azure);
    outline-offset: 2px;
}

.btn-primary {
    background: var(--azure);
    font-weight: var(--fw-5);
    color: var(--white);
    padding: 13px 45px;

}

.btn-primary b { margin-right: 0; }

.payment-card-option
{
    display: flex;
    width: 95%;
    gap: 30px;
}

.payment-card-option button 
{
    width: 50%;
}

.payment-card-info form{
    display: flex;
    flex-wrap: wrap;
}

.payment-card-info form div{
    width: 50%;
}

.payment-card-info form input{
    width: 90%;
}

.expire-date{
    display: flex;
    flex-wrap: wrap;
}

.expire-date label{
    width: 100%;
}

.expire-date-input{
    width: 20% !important;
    background-color: hsl(0, 0%, 86%);
}

.cart {
    width: 40%;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
}

.cart-item-box {
    padding: 40px var(--px);
    margin-bottom: auto;
}

.product-card:not(:last-child) { margin-bottom: 20px;}

.product-card .card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.card .product-img { border-radius: var(--radius); }

.card .detail .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-qty {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-qty button {
    background: var(--platinum);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-qty button:active,
.product-close-btn:active .svg { transform: scale(0.95); }

.product-qty button svg {
    font-size: 10px;
}

.product-close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.product-close-btn svg {
    font-size: 25px;
    color: var(--quick-silver);
}

.product-close-btn:hover svg { color: var(--red-salsa); }

.discount-token {
    padding: 40px var(--px);
    border-top: 1px solid var(--gainsboro);
    border-bottom: 1px solid var(--gainsboro);
}

.wrapper-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.wrapper-flex input {
    padding: 12px 15px;
    font-weight: var(--fw-6);
    letter-spacing: 2px;
}

.btn-outline {
    padding: 10px 25px;
    border: 1px solid var(--azure);
    color: var(--azure);
}

.btn-outline:hover {
    background: var(--azure);
    color: var(--white);
}

.amount { padding: 40px var(--px); }

.amount > div {
    display: flex;
    justify-content: space-between;
}

.amount > div:not(:last-child) { margin-bottom: 10px; }

.amount .total {
    font-size: var(--fs-18);
    font-weight: var(--fw-7);
    color: var(--onyx);
}

.label-default{
    padding-left: 0;
}
